{% assign body_class = 'page' %}
{% if page.layout == 'default' %}
  {% assign body_class = 'home-page' %}
{% elsif page.layout == 'post' %}
  {% assign body_class = 'home-page page-post' %}
{% elsif page.layout == 'photo' %}
  {% assign body_class = 'home-page page-photo' %}
{% elsif page.layout == 'page' %}
  {% assign body_class = 'page-page' %}
{% elsif page.layout == 'search' %}
  {% assign body_class = 'page-search' %}
{% elsif page.layout == 'categories' %}
  {% assign body_class = 'page-categories' %}
{% elsif page.layout == 'tags' %}
  {% assign body_class = 'page-tags' %}
{% elsif page.layout == 'archives' %}
  {% assign body_class = 'page-archives' %}
{% endif %}

{% if page.layout == 'post' or page.layout == 'photo' %}
 {% include _partial/head.html %}
  <body class="{{ body_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MFBQQ8"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <header>
        {% include _partial/header.html %}
    </header>
    <div id="container">
      {{ content }}
      {% assign item = page %}
      {% assign table = true %}
      {% include _partial/sidebar.html %}
    </div>
    <footer>{% include _partial/footer.html %}</footer>
    {% include _partial/after_footer.html %}
  </body>
</html>
{% elsif page.layout == 'page' %}
    {% include _partial/head.html %}
      <body class="{{ body_class }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MFBQQ8"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
          <!-- End Google Tag Manager (noscript) -->
        <header>
          {% include _partial/header.html %}
        </header>
        <div id="container">
          {{ content }}
        </div>
        <footer>{% include _partial/footer.html %}</footer>
        {% include _partial/after_footer.html %}
      </body>
     </html>
{% elsif page.layout == 'search' %}
{% include _partial/head.html %}
    <body class="{{ body_class }}">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MFBQQ8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      <header>
        {% include _partial/header.html %}
      </header>
      <div id="container">
      {% include _partial/search.html %}
      </div>
      <footer>{% include _partial/footer.html %}</footer>
      {% include _partial/after_footer.html %}
    </body>
   </html>
{% elsif page.layout == 'categories' or page.layout == 'tags' or page.layout == 'archives' %}
  {% include _partial/head.html %}
    <body class="{{ body_class }}">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MFBQQ8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      <header>
        {% include _partial/header.html %}
      </header>
      <div id="container">
        {{ content }}
      </div>
      <footer>{% include _partial/footer.html %}</footer>
      {% include _partial/after_footer.html %}
    </body>
   </html>
{% else %}
        {% include _partial/head.html %}
  <body class="{{ body_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MFBQQ8"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <header>
        {% include _partial/header.html %}
    </header>
    <div id="container">
      <main id="main">{{ content }}</main>
      {% assign item = page %}
      {% assign table = false %}
      {% include _partial/sidebar.html %}
    </div>
    <footer>{% include _partial/footer.html %}</footer>
    {% include _partial/after_footer.html %}
  </body>
 </html>
{% endif %}