{% assign lang = site.data.languages[page.lang] %}
{% assign default_lang = site.data.languages[site.default_lang] %}

{% if site.categories | size != 0 %}
<div class="categorieslist">
	{% if lang.categories %}
		<p class="asidetitle">{{ lang.categories }}</p>
	{% else %}
		<p class="asidetitle">{{ default_lang.categories }}</p>
	{% endif %}
	
	<ul>
		{% for item in site.categories %}
		  {% if item[1] | size != 0 %}
			<li><a href="{{ site.baseurl }}/categories/#{{ item[0] }}" title="{{ item[0] }}">{{ item[0] }}<sup>{{ item[1] | size }}</sup></a></li>
		  {% endif %}
		{% endfor %}
	</ul>
</div>
{% endif %}
